body {
  font-family: monaco;
  background-color: black;
}

p, h1, a {
  color: white;
  text-decoration: none;
}

.color, .page-header, h2 {
  color: yellow;
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 12px;
    font-style: italic;
    text-align: center;
  }
  #home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }
  p {
    font-size: 16px;
    line-height: 40px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
  }
  #contents {
    font-size: 18px;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
  body {
    padding-top: 10px;
  }
}

@media screen and (min-width: 480px) {
  h2 {
    font-size: 18px;
    font-style: italic;
  }
  #home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }
  p {
    font-size: 16px;
    line-height: 50px;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
  }
  .page-header {
    margin-left: 5%;
  }
  #contents {
    font-size: 50px;
    line-height: 70px;
    margin-left: 250px;
    margin-right: 250px;
  }
  body {
    padding-top: 10px;
  }
  #target {
    column-count: 2;
    column-gap: 5%;
    column-width: 37.5%;
  }
}
