html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, font, ins, kbd, q, s, samp, 
small, strike, sub, var,
 dl, dd, dt, ul, ol, li,
 fieldset, form, table, caption, tbody, 
tfoot, thead, tr, th, td, header, section,
footer, article, details {
 padding: 0; margin: 0; border: 0; outline: 0;
 font-family: inherit; font-style: inherit; font-size:
 100%; font-weight: inherit; vertical-align: baseline;
 }

/*General */
h1 {
  font-family: ozfont;
  font-size: 30pt;
  margin-bottom: -5px;
}

@font-face {
  font-family: ozfont;
  src: url(ozfont.ttf);
}

h4 {
  font-size: 6pt;
}

p {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
}

img {
  margin-top: 10px;
}

button {
  margin: 15px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20pt;
  cursor: pointer;
}

a:hover {
  color: black;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

/* Homepage */
#home img {
  margin-top: 0;
}

#map {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Page 1 */
#page-1-twister {
  background-image: url(../images/twister.jpeg);
  background-size: cover;
  padding: 15px;
}

#page-1-twister button {
  background-color: black;
}

#spinimage {
  margin-top: 10%;
}

#spinimage {
    position: absolute;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.hidden {
  display: none;
}

#page-1-h1 {
  display: none;
  font-family: ozfont;
  font-size: 30pt;
  margin-bottom: -5px;
}

#page-1-h2 {
  display: none;
}

#page-1-h3 {
  display: none;
}

#img1 {
  display: none;
  margin: 15px;
}

#page-1-style {
  background-color: #52b2e5;
  padding: 15px;
}

#page-1-link {
  position: fixed;
  top: 50%;
  left: 8%;
  width: 60px;
  background-color: #d0e7df;
  padding: 5px;
}

/* Page 2 */
#page-2-link {
  position: fixed;
  top: 45%;
  left: 24%;
  width: 60px;
  background-color: #d0e7df;
  padding: 5px;
}

#page-2-style {
  background-color: #52b2e5;
  background-image: url(../images/roadbackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 15px;
}

#page-2-style img {
  position: absolute;
  margin-left: -150px;
}

/* Page 3 */
#page-3-link {
  position: fixed;
  top: 54%;
  left: 33%;
  width: 60px;
  background-color: #d0e7df;
  padding: 5px;
}

#page-3-style {
  background-color: #52b2e5;
  margin: 25px;
}

#page-3-image {
  display: block;
}

#mouse {
  display: none;
  width: 20%;
  cursor: pointer;
}

#poppy {
  width: 50%;
  display: block;
  cursor: pointer;
  margin: 15px;
}

/* Page 4 */
#page-4-link {
  position: fixed;
  top: 43%;
  left: 45%;
  width: 80px;
  background-color: #d0e7df;
  padding: 5px;
}

#hidden {
  display: none;
  margin: 15px;
}

/* Page 5 */
#page-5-link {
  position: fixed;
  top: 30%;
  left: 63%;
  width: 70px;
  background-color: #d0e7df;
  padding: 5px;
}

#melt {
  display: none;
}

/* Page 6 */
#hidden2 {
  display: none;
  margin: 15px;
}

/* Page 7 */
#page-7-link {
  position: fixed;
  top: 59%;
  left: 48%;
  width: 50px;
  background-color: #d0e7df;
  padding: 5px;
}

#page-7-style {
  background-color: #fb3e46;
  margin: 15px;
}

#branch1 {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  top: -100px;
  cursor: pointer;
}

#branch2 {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  top: 150px;
  transform: scaleX(-1);
  cursor: pointer;
}

#branch3 {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  top: 300px;
  cursor: pointer;
}

/* Page 8 */
#page-8-link {
  position: fixed;
  top: 65%;
  left: 55%;
  width: 60px;
  background-color: #d0e7df;
  padding: 5px;
}

#page-8-style {
  background-color: #fb3e46;
  margin: 15px;
}

#wall {
  background-color:	white;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin-top: 25vh;
  height: 75vh;
  margin-left: -15px;
  margin-right: -15px;
}

#page-8-style button {
  background-color: #fb3e46;
}

/* Page 9 */
#page-9-link {
  position: fixed;
  top: 76%;
  left: 48%;
  width: 50px;
  background-color: #d0e7df;
  padding: 5px;
}

#page-9-style {
  background-color: #fb3e46;
  margin: 15px;
}

/* Page 10 */
#page-10-link {
  position: fixed;
  top: 75%;
  left: 40%;
  width: 60px;
  background-color: #d0e7df;
  padding: 5px;
}

#page-10-style {
  background-color: #fb3e46;
  margin: 15px;
}

#blue {
  background-color: #52b2e5;
}

#green {
  background-color: #4aafa5;
}

#yellow {
  background-color: #f4e29f;
}

/* Phone */
@media screen and (max-width: 480px) {
  #map {
    width: 100%;
    height: auto;
  }
  #map img {
    width: 100%;
    height: 100px;
    position: absolute;
  }
}

/* Desktop */
@media screen and (min-width: 480px) {
  #map {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  #map img {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
