html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, font, ins, kbd, q, s, samp, 
small, strike, sub, var,
 dl, dd, dt, ul, ol, li,
 fieldset, form, table, caption, tbody, 
tfoot, thead, tr, th, td, header, section,
footer, article, details {
 padding: 0; margin: 0; border: 0; outline: 0;
 font-family: inherit; font-style: inherit; font-size:
 100%; font-weight: inherit; vertical-align: baseline;
 }

/*General */
h1 {
  font-family: ozfont;
  font-size: 30pt;
  margin-bottom: -5px;
}

@font-face {
  font-family: ozfont;
  src: url(ozfont.ttf);
}

h4 {
  font-size: 6pt;
}

p {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
}

img {
  margin-top: 10px;
}

button {
  margin: 15px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

/* Homepage */
#home img {
  margin-top: 0;
}

#map {
  width: 100%;
  height: 100vh;
  position: relative;
}

#map img {
  width: 100%;
  height: 100%;
  object-fit: cov;
  position: absolute;
}

/* Page 1 */
#page-1-link {
  position: fixed;
  top: 50%;
  left: 8%;
  width: 60px;
  background-color: #d0e7df;
  padding: 5px;
}

#page-1-style {
  background-color: #52b2e5;
  padding: 15px;
}

#page-1-style img{
  margin: 50px;
}

/* Page 2 */
#page-2-link {
  position: fixed;
  top: 45%;
  left: 24%;
  width: 60px;
  background-color: #d0e7df;
  padding: 5px;
}

#page-2-style {
  background-color: #52b2e5;
  background-image: url(../images/roadbackground.png);
  background-size: 100%;
  background-repeat: none;
  margin: 15px;
}

#page-2-style img {
  position: absolute;
}

/* Page 3 */
#page-3-link {
  position: fixed;
  top: 54%;
  left: 33%;
  width: 60px;
  background-color: #d0e7df;
  padding: 5px;
}

#page-3-style {
  background-color: #52b2e5;
}

#page-3-style h1 {
  color: #fb3e46;
}

/* Page 4 */
#page-4-link {
  position: fixed;
  top: 43%;
  left: 45%;
  width: 80px;
  background-color: #d0e7df;
  padding: 5px;
}

#hidden {
  display: none;
  margin: 15px;
}

/* Page 5 */
#page-5-link {
  position: fixed;
  top: 30%;
  left: 63%;
  width: 70px;
  background-color: #d0e7df;
  padding: 5px;
}

/* Page 6 */
#hidden2 {
  display: none;
  margin: 15px;
}

/* Page 7 */
#page-7-link {
  position: fixed;
  top: 59%;
  left: 48%;
  width: 50px;
  background-color: #d0e7df;
  padding: 5px;
}

/* Page 8 */
#page-8-link {
  position: fixed;
  top: 65%;
  left: 55%;
  width: 60px;
  background-color: #d0e7df;
  padding: 5px;
}

/* Page 9 */
#page-9-link {
  position: fixed;
  top: 76%;
  left: 48%;
  width: 50px;
  background-color: #d0e7df;
  padding: 5px;
}

/* Page 10 */
#page-10-link {
  position: fixed;
  top: 75%;
  left: 40%;
  width: 60px;
  background-color: #d0e7df;
  padding: 5px;
}

#blue {
  background-color: #52b2e5;
}

#green {
  background-color: #4aafa5;
}

#yellow {
  background-color: #f4e29f;
}

#red {
  background-color: #fb3e46;
}
