html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, font, ins, kbd, q, s, samp, 
small, strike, sub, var,
 dl, dd, dt, ul, ol, li,
 fieldset, form, table, caption, tbody, 
tfoot, thead, tr, th, td, header, section,
footer, article, details {
 padding: 0; margin: 0; border: 0; outline: 0;
 font-family: inherit; font-style: inherit; font-size:
 100%; font-weight: inherit; vertical-align: baseline;
 }

body {
  background-color: #d4eeff;
}

#container {
  width: 100%;
  height: 100vh;
}

#background-container {
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
  position: fixed;
  bottom: 0;
}

#clock-container {
  position: absolute;
  height: 100vh;
  width: 100%;
}

#clock {
  height: 110vh;
  margin: 0 auto;
  display: block;
}

.eye {
  width: 8vh;
  height: auto;
}

#left-eye {
  top: 17vh;
  left: 39%;
  position: absolute;
  animation-name: flip-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#right-eye {
  top: 17vh;
  left: 57%;
  position: absolute;
  animation-name: flip-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes flip-animation {
    24.9% { transform: scale(1); }
    25% { transform: scaleX(-1); }
    74.9% { transform: scaleX(-1); }
    75% { transform: scale(1); }
}

#hand {
  width: 15px;
  height: 70px;
  background-image: url(images/hand.png);
  background-size: 100% 100%;
  position: absolute;
  -webkit-transform-origin: 50% 95%;
          transform-origin: 50% 95%;
  top: 43vh;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  cursor: -webkit-grab;
  cursor: grab;
  left: 49.3%;
}

#animation-container {
  width: 100%;
  bottom: 0;
  position: absolute;
  height: 25vh;
}

.animation {
  width: 150px;
}

#king {
  animation-name: king-animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes king-animation {
  from { transform: translateX(-150%); }
  to { transform: translateX(900%); }
}

#grass-container {
  background-image: url(images/grass.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
  position: fixed;
  top: 90vh;
}
