html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, font, ins, kbd, q, s, samp, 
small, strike, sub, var,
 dl, dd, dt, ul, ol, li,
 fieldset, form, table, caption, tbody, 
tfoot, thead, tr, th, td, header, section,
footer, article, details {
 padding: 0; margin: 0; border: 0; outline: 0;
 font-family: inherit; font-style: inherit; font-size:
 100%; font-weight: inherit; vertical-align: baseline;
 }

body {
  background-color: #e1f8ff;
}

#container {
  width: 100%;
  height: 100vh;
}

#background-container {
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
  position: fixed;
  bottom: 0;
}

#clock-container {
  height: 100vh;
  width: 100%;
}

.time-click {
  width: 40px;
  height: 35px;
  position: fixed;
  z-index: 1;
  cursor: pointer;
  margin-left: 50%;
}

#one {
  left: 40px;
  top: 210px;
}

#two {
  left: 85px;
  top: 255px;
}

#three {
  left: 100px;
  top: 315px;
}

#four {
  left: 85px;
  top: 375px;
}

#five {
  left: 40px;
  top: 420px;
}

#six {
  left: -20px;
  top: 435px;
}

#seven {
  left: -80px;
  top: 420px;
}

#eight {
  left: -125px;
  top: 365px;
  height: 50px;
}

#nine {
  left: -140px;
  top: 315px;
}

#ten {
  left: -125px;
  top: 255px;
}

#eleven {
  left: -80px;
  top: 210px;
}

#twelve {
  left: -20px;
  top: 195px;
}

#clock {
  width: 500px;
  top: 0;
  position: fixed;
  margin-left: 50%;
  left: -250px;
}

.eye {
  width: 50px;
  height: auto;
  z-index: 1;
}

#left-eye {
  top: 105px;
  margin-left: 50%;
  left: -125px;
  position: fixed;
  animation-name: flip-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#right-eye {
  top: 105px;
  margin-left: 50%;
  left: 70px;
  position: fixed;
  animation-name: flip-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes flip-animation {
    24.9% { transform: scale(1); }
    25% { transform: scaleX(-1); }
    74.9% { transform: scaleX(-1); }
    75% { transform: scale(1); }
}

.door {
  width: 100px;
  height: auto;
  z-index: 1;
}

#left-door {
  bottom: 30px;
  left: 0;
  position: fixed;
  z-index: 1;
}

#right-door {
  bottom: 30px;
  right: 0;
  position: fixed;
  z-index: 1;
}

#hand {
  width: 16px;
  height: auto;
  margin-left: 50%;
  left: -8px;
  position: fixed;
  z-index: 2;
  top: 260px;
  -webkit-transform-origin: 50% 95%;
          transform-origin: 50% 95%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#animation-container {
  width: 100%;
  bottom: 20px;
  position: absolute;
  height: 25vh;
}

.animation {
  width: 150px;
}

#king {
  display: none;
  animation-name: king-animation;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: fixed;
}

@keyframes king-animation {
  from { transform: translateX(-50px); }
  to { transform: translateX(100vw); }
}

#queen {
  display: none;
  animation-name: queen-animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  position: fixed;
}

@keyframes queen-animation {
  from { transform: translateX(100vw); }
  to { transform: translateX(0vw); }
}

#egg {
  display: none;
  animation-name: egg-animation;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  position: fixed;
}

@keyframes egg-animation {
  from { transform: translateX(0vw); }
  to { transform: translateX(100vw); }
}


#grass-container {
  background-image: url(images/grass.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 90vh;
  z-index: 2;
}
