html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, font, ins, kbd, q, s, samp, 
small, strike, sub, var,
 dl, dd, dt, ul, ol, li,
 fieldset, form, table, caption, tbody, 
tfoot, thead, tr, th, td, header, section,
footer, article, details {
 padding: 0; margin: 0; border: 0; outline: 0;
 font-family: inherit; font-style: inherit; font-size:
 100%; font-weight: inherit; vertical-align: baseline;
 }

body {
  background-color: black;
}

#container {
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 12pt;
  color: white;
  font-style: normal;
  font-family: sans-serif;
}

#tv {
  background-image: url('images/image.png');
  background-size: cover;
  background-position: center;
  margin-top: 5vh;
  height: 70vh;
  width: 70%;
}

.screenshot {
  padding-top: 56.25%;

  margin-bottom: 25px;
}

/* Controls */
#controls {
  height: 10vh;
  margin-top: 5vh;
  width: 70%;
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
}

#left-buttons {
  float: left;
  width: 25%;
  cursor: pointer;
}

#play {
  width: 15%;
  margin-right: 10%;
}

#pause {
  width: 15%;
  margin-right: 10%;
}

#sound {
  width: 15%;
}

#timestamp {
  float: right;
  width: 10%;
  margin-bottom: 15px;
  margin-top: -9px;
  height: 1vh;
}

#text {
  float: left;
  width: 50%;
}

#right-buttons {
  float: right;
  width: 25%;
  cursor: pointer;
}

h2 {
  font-size: 20pt;
  color: red;
  font-family: sans-serif;
}

#normal-speed {
  float: right;
  margin-right: 10%;
}

#fast-speed {
  float: right;
}

/* Slider */
.slidecontainer {
  width: 90%;
  float: left;
  margin-bottom: 15px;
}

.slider {
  -webkit-appearance: none;
  width: 95%;
  height: 1vh;
  background: #FF0000;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
