body {
	background-color: lightblue;
}

img {
	position: relative;
	float: left;
	width: 25%;
	height: 25vw;
}

h1 {
	width: 100%;
	text-align: center;
	margin: 10px auto;
	padding: 10px;
	color: black;
	font-family: helvetica;
	font-weight: bold;
  font-size: 40pt;
}

select {
	font-size: 35px;
  margin: 10px;
}
